<!--data is local template variable-->

<form  #data="ngForm"  
(ngSubmit)="addEmployee(data)">
<h1>Add Employee</h1>
    <div>   
    <label>Name</label><br>
     <input  type="text" ngModel name="name" [(ngModel)]="inputText">
    </div>

    <div>
    
    <label>Id</label><br>
    <input type="number" ngModel name="id"  [(ngModel)]="inputId">
    </div>    
    
    <div>
    
        <label>Salary</label><br>
        <input type="number" ngModel name="salary" [(ngModel)]="inputSalary">
        </div>
    
        <div>
    
            <label>Department</label><br>
            <input type="text" ngModel name="department" [(ngModel)]="inputDepartment">
            </div>
    <input type="submit" value="submit" >
           
</form>

 {{inputText}} {{inputId}} {{inputSalary}} {{inputDepartment}}

<div *ngIf="addedEmp!==null">
<h3>Employee Added</h3>  
 
 <dialog open id="myFirstDialog"  style="align-content: flex-start; width: 50%; height: 30%; background-color:white;border: 1px dotted black;">
   <h3>Data</h3>
    name= {{addedEmp.empName}}<br>
    id={{addedEmp.empId}}<br>
    salary={{addedEmp.empSalary}}<br>
    department={{addedEmp.empDepartment}}
</dialog>
window.confirm();
</div>



   
